
	<div class="preloader">
		<div class="loading-icon" data-w-id="32b9fc5e-45af-fa43-6fcc-d276e86062f0" data-animation-type="lottie"
			 data-src="https://uploads-ssl.webflow.com/617871f8849a56fd144246a9/617871f9849a5677ba424811_preloader.json"
			 data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg"
			 data-default-duration="1.1666666666666667" data-duration="0"></div>
	</div>
	<div class="back-to-top">
		<div id="Top" class="top"></div><a href="#Top" class="top-button w-inline-block"></a>
	</div>
	<div data-collapse="all" data-animation="default" data-duration="1200" data-easing="ease-in-out-quart"
		 data-easing2="ease-in-out-quart" data-w-id="52b687cd-87ec-417c-3faf-de06b43fdf67" role="banner"
		 class="nav-bar w-nav">
		<a href="/" aria-current="page" class="brand w-nav-brand w--current">
			<img src="~/images/GiveWhite.png"
				 loading="lazy"
				 sizes="(max-width: 479px) 100px, (max-width: 767px) 25vw, 150px" alt="" class="banner-logo" />
		</a>
		<div class="logo-description">
			<strong class="bold-text">The giving <br />enterprise</strong>
		</div>
		<div class="navigation-logged-in">
			<div class="nav-bar-info">
			<div class="top-menu-wrapper">
			<a asp-controller="Participations" asp-action="MyParticipations">My Participations</a>
			<a asp-controller="Participations" asp-action="Participate">Participate</a>
			</div>
				<a class="button ghost small w-button" asp-controller="Users" asp-action="Index">Logout</a>
			</div>
		</div>
	</div>
	<div class="page-wrapper">
		<div id="Hero" class="hero-v3-section wf-section">
			<div class="team-wrapper banner">
				<div class="intro wide">
