
<a asp-controller="Participations" asp-action="MyParticipations">My Contributions</a>
<a asp-controller="Participations" asp-action="Participate">Participate</a>
@*<a asp-controller="Users" asp-action="Index">Log out</a>*@
