@model DetailsVM
@{
    ViewData["Title"] = "Details";
}



<partial name="_LoggedInMenu" />
<partial name="_Logo" />



<h4>My Participations</h4>



<p>@Model.ParticipationDate.ToShortDateString(): <br /> @Model.ParticipationAmount SEK</p>




<input type="submit" value="Convert to donation" />
<input type="submit" value="Refund" />