@model DetailsVM
@{
    ViewData["Title"] = "Details";
}



<partial name="_LoggedInMenu" />
<partial name="_Logo" />



<h4>My Details</h4>



<h1>@Model.ParticipationAmount</h1>




<input type="submit" value="Convert to donation" />
<input type="submit" value="Refund" />