@model MyParticipationsVM
@{
	ViewData["Title"] = "My Contributions";
}
@Html.Partial("_LoggedInMenu")
@Html.Partial("_Logo")

<input type="submit" value="Participate" />

<h4>Active contributions</h4>
<p>You have generated X SEK in contributions to your chosen organizations. Thank you for your help!</p>
<p>Together, Give For Life participants have contributed 100 000 SEK to different organizations.</p>