@using The_Gifters.Views.Participations;
@model ParticipateVM
@{
	ViewData["Title"] = "Participate";
}
@Html.Partial("_LoggedInMenu")
@Html.Partial("_Logo")

<h3>New participation</h3>

<form asp-controller="Participations" asp-action="CreateParticipation">
	<label class ="sign-in-and-register-label-egen" asp-for="Amount"></label>
	<input class="create-input-egen" asp-for="Amount" />
	<span asp-validation-for="Amount"></span>

	<label class="sign-in-and-register-label-egen" asp-for="OrganizationNames"></label>
	<select id="drpEmpList" class="form-control" asp-for="OrganizationNames" asp-items="@(new SelectList(Model.OrganizationNames,  "Text"))">
		<option value="">--Select--</option>
	</select>
	<span asp-validation-for="OrganizationNames"></span>


	<br />
	<input class="button-egen" type="submit" name="refundable" value="Refundable (12 months)"/>
	<input class="button-egen" type="submit" name="donation" value="Donate (no refund)" />
	<p>x SEK will generate approximately Y SEK in contributions per year.</p>
	<p>x SEK will generate approximately Y SEK in contributions per year.</p>
</form>
<div asp-validation-summary=All></div>