@using The_Gifters.Views.Users;
@model CreateVM
@{
	ViewBag.Title = "Create";
}
@Html.Partial("_LoggedOutMenu")

<form asp-controller="user" asp-action="login">
	<label class="sign-in-and-register-label-egen" asp-for="FirstName">first name</label>
	<input class="create-input-egen" asp-for="FirstName" />
	<div>
	<span asp-validation-for="FirstName"></span>
	</div>

	<label class="sign-in-and-register-label-egen" asp-for="LastName">last name</label>
	<input class="create-input-egen" asp-for="LastName" />
	<div>
	<span asp-validation-for="LastName"></span>
	</div>

	<label class="sign-in-and-register-label-egen" asp-for="Email">e-mail</label>
	<input class="create-input-egen" asp-for="Email" />
	<div>
	<span asp-validation-for="Email"></span>
	</div>

	<label class="sign-in-and-register-label-egen" asp-for="PhoneNumber">phone number</label>
	<input class="create-input-egen" asp-for="PhoneNumber" />
	<div>
	<span asp-validation-for="PhoneNumber"></span>
	</div>

	<label class="sign-in-and-register-label-egen" asp-for="Password">password</label>
	<input class="create-input-egen" asp-for="Password" />
	<div>
	<span asp-validation-for="Password"></span>
	</div>

	<label class="sign-in-and-register-label-egen" asp-for="PasswordRepeat">repeat password</label>
	<input class="create-input-egen" asp-for="PasswordRepeat" />
	<div><span asp-validation-for="PasswordRepeat"></span></div>

	<p style="display:none">
		<input type="checkbox" asp-for="AcceptTerms" />
		<span asp-validation-for="AcceptTerms"></span>
		I Accept terms and agreements
	</p>
	<input class="button-egen" type="submit" value="Create account" />
</form>
<br/>
<br/>
<br/>