@using The_Gifters.Views.Users;
@model CreateVM
@{
	ViewBag.Title = "Create";
}
@Html.Partial("_LoggedInMenu")

<a asp-controller="Users" asp-action="Index">Go back</a>
<a asp-controller="Users" asp-action="Login">
	<input class="button-egen" type="button" value="Login" />
</a>

@Html.Partial("_Logo")
@*<div class="login-wrapper">*@
<form asp-controller="user" asp-action="login">
	<label class="sign-in-and-register-label-egen" asp-for="FirstName"></label>
	<input class="create-input-egen" asp-for="FirstName" />
	<span asp-validation-for="FirstName"></span>
	<br />

	<label class="sign-in-and-register-label-egen" asp-for="LastName"></label>
	<input class="create-input-egen" asp-for="LastName" />
	<span asp-validation-for="LastName"></span>
	<br />

	<label class="sign-in-and-register-label-egen" asp-for="Email"></label>
	<input class="create-input-egen" asp-for="Email" />
	<span asp-validation-for="Email"></span>
	<br />

	<label class="sign-in-and-register-label-egen" asp-for="PhoneNumber"></label>
	<input class="create-input-egen" asp-for="PhoneNumber" />
	<span asp-validation-for="PhoneNumber"></span>
	<br />

	<label class="sign-in-and-register-label-egen" asp-for="Password"></label>
	<input class="create-input-egen" asp-for="Password" />
	<span asp-validation-for="Password"></span>
	<br />

	<label class="sign-in-and-register-label-egen" asp-for="PasswordRepeat"></label>
	<input class="create-input-egen" asp-for="PasswordRepeat" />
	<span asp-validation-for="PasswordRepeat"></span>
	<br />

	<p style="display:none">
		<input type="checkbox" asp-for="AcceptTerms" />
		<span asp-validation-for="AcceptTerms"></span>
		I Accept terms and agreements
	</p>
	<input class="button-egen" type="submit" value="Create account" />
</form>
@*</div>*@
<div asp-validation-summary=All></div>