@{
	ViewData["Title"] = "Index";
}
<div class="wrapper">
	<header>
		<div class="header-button-container">
			<a asp-controller="Users" asp-action="Login">
				<input class="button" type="button" value="Login" />
			</a>
			<a asp-controller="Users" asp-action="Create">
				<input class="button" type="button" value="Create user" />
			</a>
		</div>
	</header>
	<div class="container">
		<div class="logo-container">
			@Html.Partial("_Logo")
			
		</div>
		<div class="container-item">
			<h4>Giving like it should be.</h4>
		<p>
			Make a contribution and watch it yield donations as long as your contribution remains.
			You can give for life or have the money returned to you after a specified time.
		</p>
		<ul>
				<li>You choose how much</li>
				<li>You choose for how long</li>
				<li>This is sustainable giving</li>
		</ul>
		</div>
		<div class="participate-links">
		<p>
			<a asp-controller="Users" asp-action="Create">I want to participate</a>
			<a asp-controller="Users" asp-action="Login">I'm already a participant</a>
		</p>
		</div>
	</div>
</div>
