
@model LoginVM
@{
	ViewBag.Title = "Login";
}

<a asp-controller="Users" asp-action="Index">Go back</a>
<a asp-controller="Users" asp-action="Create">
	<input type="button" value="Create user" />
</a>

@Html.Partial("_Logo")

<form asp-controller="user" asp-action="login">
	@*<label asp-for="Email"></label>
	<input asp-for="Email" />
	<span asp-validation-for="Email"></span>*@

	<label asp-for="Username"></label>
	<input asp-for="Username" />
	<span asp-validation-for="Username"></span>

	<label asp-for="Password"></label>
	<input asp-for="Password" />
	<span asp-validation-for="Password"></span>
	<br />
	<input type="submit" value="Login" />
</form>
<div asp-validation-summary=All></div>